---
const currentYear = new Date().getFullYear();
---

<footer class="mt-24 pb-16 px-6">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center gap-6 border-t border-white/15 pt-10">
    <div class="flex items-center gap-4">
      <p class="text-white/50 font-mono text-[10px] md:text-xs tracking-widest">
        Moksh Shah
      </p>
    </div>

    <nav class="flex items-center gap-10">
      <a 
        href="https://github.com/MokshShahh" 
        target="_blank" 
        rel="noopener noreferrer"
        class="text-lg text-white/50 hover:text-white font-mono text-[10px] md:text-xs tracking-widest transition-opacity duration-300"
      >
        Github
      </a>
      <a 
        href="mailto:mokshah@outlook.com" 
        class="text-white/50 hover:text-white font-mono text-[10px] md:text-xs tracking-widest transition-opacity duration-300"
      >
        Email
      </a>
    </nav>
  </div>
</footer>
